{%- comment -%}
  Breadcrumbs para navegação
{%- endcomment -%}
<nav class="breadcrumbs" aria-label="breadcrumb">
  <a href="/">Início</a>
  {%- if collection -%}
    &nbsp;/&nbsp;<a href="{{ collection.url }}">{{ collection.title }}</a>
  {%- endif -%}
  {%- if product -%}
    &nbsp;/&nbsp;<span>{{ product.title }}</span>
  {%- elsif article -%}
    &nbsp;/&nbsp;<span>{{ article.title }}</span>
  {%- elsif page -%}
    &nbsp;/&nbsp;<span>{{ page.title }}</span>
  {%- endif -%}
</nav> 