<div class="product__prices">
    {% assign variant = variant | default: product.selected_or_first_available_variant %}
    {% assign showPix = settings.show_pix %}
    {% assign pixPercent = settings.pix_discount_percentage %}
    {% assign pixHighlight = settings.highlight_pix_price %}
    {% assign pixDiscount = variant.price | times: pixPercent | divided_by: 100 %}
    {% assign pixPrice = variant.price | minus: pixDiscount %}

    {% if variant.compare_at_price and variant.price_varies == false %}
        <span class="line-through text-xs text-gray-400">{{ variant.compare_at_price | money }}</span>
    {% else if variant.price_varies %}
        {%  unless pdp %}
            <span class="text-xs text-gray-400">A partir de</span>
        {% endunless %}
    {% endif %}

    {% if showPix and variant.price_varies %}
        <div class="price__item">
            <strong class="product__price">
                {% if pixHighlight %}
                    {{ pixPrice | money }} <span>via PIX</span> <svg class="pix-icon" version="1.0" viewBox="0 0 901.000000 900.000000" xmlns="http://www.w3.org/2000/svg"><g transform="translate(0 900) scale(.1 -.1)"><path d="m4265 8986c-216-42-357-99-536-217-83-54-204-172-1001-968-500-498-908-909-908-913 0-5 92-8 204-8 288 0 449-33 646-132 186-94 194-101 985-889 413-411 766-755 785-765 49-26 181-26 230 0 19 10 368 350 775 755 642 640 752 746 834 800 241 159 431 218 735 228l178 6-888 889c-489 489-920 913-959 943-157 121-324 202-519 252-88 22-127 26-296 29-136 2-216-1-265-10z"></path><path d="m861 5935c-485-487-577-584-630-664-102-154-154-272-199-450-25-99-27-121-27-321 0-191 3-225 24-310 49-199 134-377 256-535 30-38 299-315 598-614l544-543 359 1c403 2 467 8 607 55 204 69 179 48 1022 887 759 756 760 756 845 798 197 96 409 94 603-5 66-35 130-95 812-774 446-444 766-756 807-784 79-56 187-107 289-137 68-20 102-23 419-29 190-3 352-9 360-13 11-5 167 145 586 565 488 490 580 587 633 667 34 52 73 116 87 142 195 385 195 873 0 1258-14 26-53 90-87 142-53 80-145 177-633 667-419 420-575 570-586 565-8-4-170-10-360-13-317-6-351-9-419-29-102-30-210-81-289-137-40-28-364-343-812-789-802-798-778-776-930-823-175-53-368-27-525 70-29 18-367 347-805 782-837 833-813 812-1017 882-136 46-219 54-616 56l-348 3-568-570z"></path><path d="m4465 3913c-47-14-101-65-805-767-796-793-804-800-990-894-196-99-359-132-647-132-112 0-203-3-203-8 0-4 408-415 908-913 797-796 918-914 1001-968 154-102 272-154 450-199 99-25 121-27 321-27 191 0 225 3 310 24 199 49 377 134 535 256 39 30 470 454 959 943l888 889-178 6c-304 10-494 69-735 228-82 54-193 161-839 805-722 719-747 743-799 758-67 19-110 19-176-1z"></path></g></svg>
                {% else %}
                    {{ variant.price | money }}
                {% endif %}
            </strong>
        </div>
    {% else %}
        <strong class="product__price">
            {% if pixHighlight %}
                {{ pixPrice | money }} <span>via PIX</span> <svg class="pix-icon" version="1.0" viewBox="0 0 901.000000 900.000000" xmlns="http://www.w3.org/2000/svg"><g transform="translate(0 900) scale(.1 -.1)"><path d="m4265 8986c-216-42-357-99-536-217-83-54-204-172-1001-968-500-498-908-909-908-913 0-5 92-8 204-8 288 0 449-33 646-132 186-94 194-101 985-889 413-411 766-755 785-765 49-26 181-26 230 0 19 10 368 350 775 755 642 640 752 746 834 800 241 159 431 218 735 228l178 6-888 889c-489 489-920 913-959 943-157 121-324 202-519 252-88 22-127 26-296 29-136 2-216-1-265-10z"></path><path d="m861 5935c-485-487-577-584-630-664-102-154-154-272-199-450-25-99-27-121-27-321 0-191 3-225 24-310 49-199 134-377 256-535 30-38 299-315 598-614l544-543 359 1c403 2 467 8 607 55 204 69 179 48 1022 887 759 756 760 756 845 798 197 96 409 94 603-5 66-35 130-95 812-774 446-444 766-756 807-784 79-56 187-107 289-137 68-20 102-23 419-29 190-3 352-9 360-13 11-5 167 145 586 565 488 490 580 587 633 667 34 52 73 116 87 142 195 385 195 873 0 1258-14 26-53 90-87 142-53 80-145 177-633 667-419 420-575 570-586 565-8-4-170-10-360-13-317-6-351-9-419-29-102-30-210-81-289-137-40-28-364-343-812-789-802-798-778-776-930-823-175-53-368-27-525 70-29 18-367 347-805 782-837 833-813 812-1017 882-136 46-219 54-616 56l-348 3-568-570z"></path><path d="m4465 3913c-47-14-101-65-805-767-796-793-804-800-990-894-196-99-359-132-647-132-112 0-203-3-203-8 0-4 408-415 908-913 797-796 918-914 1001-968 154-102 272-154 450-199 99-25 121-27 321-27 191 0 225 3 310 24 199 49 377 134 535 256 39 30 470 454 959 943l888 889-178 6c-304 10-494 69-735 228-82 54-193 161-839 805-722 719-747 743-799 758-67 19-110 19-176-1z"></path></g></svg>
            {% else %}
                {{ variant.price | money }}
            {% endif %}
        </strong>
    {% endif %}

    {% if showPix and pixHighlight == false %}
        {% if pixPercent > 0 %}
            <div class="payment-pix">
                <svg version="1.0" viewBox="0 0 901.000000 900.000000" xmlns="http://www.w3.org/2000/svg"><g transform="translate(0 900) scale(.1 -.1)"><path d="m4265 8986c-216-42-357-99-536-217-83-54-204-172-1001-968-500-498-908-909-908-913 0-5 92-8 204-8 288 0 449-33 646-132 186-94 194-101 985-889 413-411 766-755 785-765 49-26 181-26 230 0 19 10 368 350 775 755 642 640 752 746 834 800 241 159 431 218 735 228l178 6-888 889c-489 489-920 913-959 943-157 121-324 202-519 252-88 22-127 26-296 29-136 2-216-1-265-10z"></path><path d="m861 5935c-485-487-577-584-630-664-102-154-154-272-199-450-25-99-27-121-27-321 0-191 3-225 24-310 49-199 134-377 256-535 30-38 299-315 598-614l544-543 359 1c403 2 467 8 607 55 204 69 179 48 1022 887 759 756 760 756 845 798 197 96 409 94 603-5 66-35 130-95 812-774 446-444 766-756 807-784 79-56 187-107 289-137 68-20 102-23 419-29 190-3 352-9 360-13 11-5 167 145 586 565 488 490 580 587 633 667 34 52 73 116 87 142 195 385 195 873 0 1258-14 26-53 90-87 142-53 80-145 177-633 667-419 420-575 570-586 565-8-4-170-10-360-13-317-6-351-9-419-29-102-30-210-81-289-137-40-28-364-343-812-789-802-798-778-776-930-823-175-53-368-27-525 70-29 18-367 347-805 782-837 833-813 812-1017 882-136 46-219 54-616 56l-348 3-568-570z"></path><path d="m4465 3913c-47-14-101-65-805-767-796-793-804-800-990-894-196-99-359-132-647-132-112 0-203-3-203-8 0-4 408-415 908-913 797-796 918-914 1001-968 154-102 272-154 450-199 99-25 121-27 321-27 191 0 225 3 310 24 199 49 377 134 535 256 39 30 470 454 959 943l888 889-178 6c-304 10-494 69-735 228-82 54-193 161-839 805-722 719-747 743-799 758-67 19-110 19-176-1z"></path></g></svg>
                ou <b>{{ pixPrice | money }}</b> via PIX
            </div>
        {% endif %}
    {% endif %}
    
    {% if settings.show_installments %}
        <div class="payment-installments">
            <svg width="459.67px" height="459.67px" enable-background="new 0 0 459.669 459.669" version="1.1" viewBox="0 0 459.669 459.669" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><path d="m404.72 76.087h-349.78c-30.299 0-54.947 24.648-54.947 54.948v197.6c0 30.298 24.648 54.948 54.947 54.948h349.78c30.297 0 54.947-24.65 54.947-54.948v-197.6c1e-3 -30.3-24.649-54.948-54.946-54.948zm24.543 252.55c0 13.534-11.01 24.544-24.543 24.544h-349.78c-13.533 0-24.545-11.01-24.545-24.544v-132.42h398.86l1e-3 132.42zm0-175.79l-398.86 0.029v-21.834c0-13.534 11.012-24.545 24.545-24.545h349.78c13.533 0 24.543 11.011 24.543 24.545v21.805z"></path><path d="m68.135 324.98h83.23c2.98 0 5.398-2.416 5.398-5.396v-16.421c0-2.981-2.418-5.397-5.398-5.397h-83.23c-2.98 0-5.398 2.416-5.398 5.397v16.421c-1e-3 2.98 2.417 5.396 5.398 5.396z"></path><path d="m312.36 249.02c8.649 0 16.621 2.897 23.006 7.768 6.385-4.869 14.354-7.768 23.006-7.768 20.975 0 37.979 17.004 37.979 37.979s-17.005 37.977-37.979 37.977c-8.65 0-16.621-2.896-23.006-7.768-6.385 4.871-14.355 7.768-23.006 7.768-20.976 0-37.979-17.002-37.979-37.977s17.005-37.979 37.979-37.979z"></path></svg>
            {%  if pdp %}
                ou <b>{{ variant.price | money }}</b> em até <b>{{ settings.installments_count }}x</b> de <b>{{ variant.price | divided_by: settings.installments_count | money }}</b> sem juros
            {% else %}
                <b>{{ settings.installments_count }}x</b> de <b>{{ variant.price | divided_by: settings.installments_count | money }}</b> sem juros
            {% endif %}
        </div>
    {% endif %}
</div>
