<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
    {% render 'preloads' %}
    {% render 'styles' %}
    {{ content_for_header }}
  </head>
  <body class="bg-white text-black">
    {% render 'preloader' %}

    {% section 'announcement-bar' %}
    {% section 'header' %}
    {{ content_for_layout }}
    {% section 'footer' %}

    <!-- Components -->
    {% render 'whatsapp-float', product: product %}
    
  {% render 'scripts' %}
    <script src="{{ 'collection-filters.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
  </body>
</html> 